[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pre-commit = "*"
autopep8 = "*"
pep8-naming = "*"
flake8-docstrings = "*"
flake8-bugbear = "*"
jupyter = "*"
ipython = "*"

[packages]
django = "*"
djangorestframework = "*"
django-extensions = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
